<p>Upload you photos here:</p>
<%# simple_form_for @user, :html => { class: 'form-vertical' } do |f| %>
	<%# f.input :fb_link, label: 'Facebook', 
			    placeholder: 'http://www.facebook.com/USERNAME' %>
	<%# f.input :instagram_link, label: 'Instagram',
	 			placeholder: 'http://www.instagram.com/USERNAME'%>
	<%# f.input :youtube_link, label: 'Youtube', 
				placeholder: 'http://www.youtube.com/USERNAME' %>
	<%# f.submit "Save", class: "btn btn-large btn-primary" %>
<%# end %>