@import "bootstrap";


/*-----------COLORS----------*/
$blue: #809fff;
$blueLighter: #A4CFFF;
$gray: #666;
$grayMedium: #777;
$grayLighter: #999; 

/*----------UNIVERSAL---------*/

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

hr.thick {
  color: $blue;
  background-color: $blue;
  height: 5px;
}

/*----------TYPOGRAPHY---------*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #666;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #777;
}

/*----------HEADER----------*/
.navbar-inner {
	background: $blue;
}

.nav.pull-right li a, .nav.pull-right li a:visited {
	color: #fff;
	&:hover { text-decoration: underline; }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/*----------FOOTER----------*/
footer {
  margin-top: 50px;
  padding-top: 5px;
 
  p {
	line-height: 1.2em !important;
	color: $grayLighter;
  }
  
  .nav a, .nav a:visited {
    position: relative;
    top: -3px;
    display: inline-block;
    text-decoration: none;
    color: $grayLighter;
    &:hover { color: $blue; text-decoration: none; }
  }  

  span.divider {
    display: inline-block;
    margin:2px 5px 0 5px;
    padding:1px 0 1px 0;
    width: 1px;
    height: 14px;
    background-color: $grayLighter;
  }
}
