// Override Bootstrap Styles
$navbarLinkColor: #fff;
$dropdownLinkColor: #666;
$dropdownLinkColorHover: #fff;
$dropdownLinkBackgroundHover: #007ACC;
$navbarSearchBackground: #464646;
$navbarSearchBackgroundFocus: #ddd;
$navbarSearchPlaceholderColor: #fff;

@import "bootstrap";

body { padding-top: 60px; }

@import "bootstrap-responsive";

/*-----------COLORS----------*/
$white: #fff;
$black: #000;
$blue: #007ACC;
$gray: #666;
$grayDark: #464646;
$grayMedium: #777;
$grayLighter: #999; 

/*----------UNIVERSAL---------*/
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

hr.thick {
  color: $blue;
  background-color: $blue;
  height: 5px;
}

/*----------TYPOGRAPHY---------*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $black;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $gray;
}

/*----------HEADER----------*/
.navbar-inner {
	background: url(/assets/black-Linen.png) repeat;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $blue;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
}

form.navbar-search {
	padding-left: 20px;
	
	.add-on {
		margin:1px -5px 0 0;
		background: $grayDark;
		border:1px solid $black;
	}
}

ul.nav.pull-right li {
	&:hover { background-color: $blue; }
}

/*----------FOOTER----------*/
footer {
  margin-top: 50px;
  padding-top: 5px;

  p {
	line-height: 1.2em !important;
	color: $black;
  }
  
  .nav a, .nav a:visited {
    position: relative;
    top: -3px;
    display: inline-block;
    text-decoration: none;
    color: $black;
    &:hover { color: $blue; text-decoration: none; }
  }  

  span.divider {
    display: inline-block;
    margin:2px 5px 0 5px;
    padding:1px 0 1px 0;
    width: 1px;
    height: 14px;
    background-color: $black;
  }
	
  p.copyright {
	float: right;
  }	
}
