/*----------USERS PROFILE MODAL----------*/
div.modal {
	width: 450px;
	
	div.modal-header {
		background: $black;
	
		h3#modal-label { 
			text-align: center; 
			color: $blue; 
		}
	
		button.close {
			margin-top:-2px;
			color: $white;
		}
	}
}

/*-----------USERS INDEX SECTION----------*/
.index-white {
	margin-top: -40px;
	padding-bottom: 30px;
	background: $white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	h1 { 
		padding-top: 15px;
		font-family: 'ChunkFive';
		font-size: 2.8em;
		color: $gray; 
	}
	
	div.pagination {
		text-align: center;
	}
	
	.users {
  		list-style: none;
  		margin: 0;
		padding-bottom: 30px;
  
  		li {
    		overflow: auto;
    		padding: 10px 30px;
    		border-top: 1px solid #ddd;
    		&:first-child { margin-top: 20px; } 
			&:last-child { border-bottom: 1px solid #ddd; }

			img {
	  			margin-right: 0.40em;
	  			-webkit-border-radius: 3px;
      			-moz-border-radius: 3px;
	  			border-radius: 3px;
	  			-moz-box-shadow: 3px 4px 5px #000000;
	  			-webkit-box-shadow: 3px 4px 5px #000000;
	  			box-shadow: 3px 4px 5px #000000;	
			}
	
			a, a:visited {
	  			font-size: 120%;
				font-weight: bold;
	  			color: $blue;
	  			&:hover { text-decoration: underline; }
			}
  		}
	}
}

/*----------USERS DASHBOARD SECTION----------*/
.hero-unit.hero-unit-gray {
	margin:-30px 9em 0 9em;
	background-color: rgba(#464646, 0.55);
	
	div.tabbable.dashboard-tabs {
		margin-top: -3em;
		background: $white;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		
		h1 { 
			padding-top:15px; 
			font-family: "ChunkFive";
			font-size: 2.8em; 
			color: $gray; 
		}
		
		.nav.nav-tabs li a, .nav.nav-tabs li a:visited {
			color: $gray;
			font-weight: bold;
			&:hover { 
				color: $blue; 
				text-shadow: none; 
			}
		}

		.nav.nav-tabs li.active a {
			color: $blue;
			text-shadow: none;
		}
		
		P { 
			color: $gray; 
			font-weight: bold;
		}
		
		input.string, textarea {
			width: 50%;
			font-style: italic;
		}

		label {
			color: $gray;
			font-weight: bold;
		}
		
		.u { text-decoration: underline; }
	}
	
	div.tab-content {
		margin-left: 30px;
	}
}


/*-----------USERS PROFILE SECTION----------*/
section.goal-container {
  position: fixed;
  top: 40px;
  width: 100%;
  text-align: center;

  header.goal {	
    width: 100%;
	height: 65px;
  	background-color: rgba(#464646, 0.55);
  	-webkit-border-bottom-right-radius: 3px;
  	-webkit-border-bottom-left-radius: 3px;
  	-moz-border-radius-bottomright: 3px;
  	-moz-border-radius-bottomleft: 3px;
  	border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    .follow-form-btn {
	  margin:15px 0 0 15px; 
  	}	

  	h1 {
	 padding:0.3em 0 0.3em 0;
	 color: $white;
	 text-shadow:5px 5px 5px #000000;
    }
  }
}

#position-profile { cursor: move; }

section.profile-block {
	width: 400px;
	padding: 1.3em;
	background-color: rgba(#464646, 0.55);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	h1 {
		margin:0;
		font-size: 2.5em;
		color: $white;
		text-shadow:5px 5px 5px #000000;
	}
	
	h2 {
		margin:0;
		text-transform: uppercase;
		font-size: 1.75em;
		color: $white;
		text-shadow:5px 5px 5px #000000;
	}
	
	h3 {
		font-size: 1.5em;
		color: $white;
		text-shadow:5px 5px 5px #000000;
	}
	
	P { 
		margin:0;
		color: $white; 
		font-weight: bold;
		text-shadow:5px 5px 5px #000000;
	}
	
	section.row.center {
		margin: 0;
		padding:0 0 15px 0;
	}
	
	div.btn-group-center {
		text-align: center;
		
		div.btn-group {
			margin: 0; 
			text-align: center;
			width: inherit;
			display: inline-block;
			float: none;
			a, a:visited { color: $black; &:hover { text-decoration: none; } }
		}
	}
	
	
	/*---CSS STYLES FOR TABS IN PROFILE BLOCK---*/
	.services-nav a {
	    display: inline-block;
		margin-right: 5px;
		&:hover { opacity: 0.8; }
	}
	
	.background_image_thumb {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	
	.nav.nav-tabs li a, .nav.nav-tabs li a:visited {
		color: $white;
		font-weight: bold;
		text-shadow:5px 5px 5px #000000;
		&:hover { color: $blue; text-shadow: none; }
	} 
	
	.nav.nav-tabs li.active a {
		color: $blue;
		text-shadow: none;
	}
}

/*-----------USERS FAN SECTION STYLES----------*/
