<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <%= link_to "student athlete", root_path, id: "logo" %>
	  <nav>
	    <ul class="nav pull-right">
	      <li><%= link_to "Sign in with Facebook", '#' %></li>
	    </ul><!--/.nav.pull-right-->
	  </nav>
	</div><!--/.container-->
  </div><!--/.navbar-inner-->
</header><!--/.navbar.navbar-fixed-top-->